<!-- produits/templates/produits/base.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Beauty Stock{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/produits/">Produits</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
    </nav>

    <!-- Contenu spécifique à chaque page -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
